# Dependencies
node_modules/

# Build
dist/
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Grafana
provisioning/

# Go
vendor/

# Test results
test-results/
playwright-report/
